*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0px;
}
header{
    background-color:rgb(0, 132, 255);
    padding: 20px;
    color:white;
}
.no{
    font-size: medium;
    margin-left: 30px;
    margin-top: -10px;
    float: left;
}
.gmail{
    font-size: medium;
    margin-left: 20px;
    margin-top: -10px;
    float: left;
}
.fb{
    font-size: medium;
    margin-left: 20px;
    margin-top: 0px;
    float: left;
}
.img{
    margin-left: -330px;
    margin-top: 6px;
    float: left;
}

nav a{
    position:center;
    display: block;
    color:black;
  height: 45px;
    text-decoration:none;
    padding: 0px 30px ;
    margin-top: 30px;
    float:right;
}

#div1 {
    background-color: rgb(13, 13, 121);
    color:aliceblue;
    height: 1100px;
    width :100%;
    margin-top: 10px;
    float: left;
}

h1{
    font-size: 320%;
    margin-left: 120px;
    margin-top: 100px;
}
.mark{
    width: 500px;
    font-size: x-large;
    padding-left: 20px;
    margin-left: 100px;
    text-decoration: 30px;
}
.pic{
    height: 35%;
    width: 35%;
    margin-top: 100px;
    margin-right: 110px;
    float: right;
}
#div2 {
background-color: #3644a5;
height: 580px;
width: 100%;

margin-top: 54px;
float: right;
}
.con{
    font-size: larger;
    margin-left: 120px;
    margin-top: 120px;
    float: left;  
}
.Textbox{
    border: 1px solid red;
    height: 40px;
    width: 218px;
    margin-left: -85px;
    margin-top: 150px;
    float: left;  
}
.Textbox1{
    border: 1px solid red;
    height: 40px;
    width: 218px;
    margin-left: 8px;
    margin-top: 150px;
    float: left;  
}
.bgmi{
    border: 1px solid red;
    margin-left: -445px;
    margin-top: 180px;
    float: left;    
}
#div3{
    background-color:transparent;
    border: 2px solid aqua;
    color: aqua;
    height: 50px;
    width: 100px;
    margin-top: 320px;
    margin-left: -103px;
    padding: 10px 20px;
    float: left;
}
.dream{
    font-size: larger;
    margin-left: 140px;
    margin-top: 80px;
    float: left;  
}
.park{
    color: aqua;
    font-size: x-large;
    text-decoration: none;
    margin-left: -40px;
    margin-top: 120px;
    float: left;  
}
.inst{
    color: aqua;
    font-size: x-large;
    text-decoration: none;
    margin-left: -215px;
    margin-top: 170px;
    float: left;  
}
.Ph{
    font-size: larger;
    color: white;
    margin-left: -232px;
    margin-top: 250px;
    float: left;  
}
.mo{
    font-size: x-large;
    color: white;
    margin-left: -230px;
    margin-top: 290px;
    float: left;
}
.lan{
    font-size: x-large;
    color: white;
    margin-left: -230px;
    margin-top: 340px;
    float: left;
}
.photo{
    height: 110px;
    width: 110px;
    margin-top: 400px;
    margin-left: -250px;
    float: left;
}
footer{
    background-color:black;
    color:white;
    width: 100%;
    padding: 18px;
    margin-top: 0px;
    float: left;
}
.item{
    margin-top: -6px;
    margin-right: 110px;
    float: right;
}
.insta{
    margin-top: -5px;
    margin-right: 20px;
    float: right;
}
.twite{
    margin-top: -5px;
    margin-right: 20px;
    float: right;
}
.fb{
    margin-top: -8px;
    margin-right: 20px;
    float: right; 
}